Servis/Desktop/Service References/Service/MassServis2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12953/MassServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mass.Data" />
  <xs:element name="LoginValidacija">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginValidacijaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginValidacijaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiDobavljaca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="dobavljac" nillable="true" type="q1:tbl_dobavljac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiDobavljacaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDobavljaca">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDobavljacaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaDobavljacaResult" nillable="true" type="q2:ArrayOftbl_dobavljac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiDobavljaca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brDobavljaca" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiDobavljacaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDobavljac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="d" nillable="true" type="q3:tbl_dobavljac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDobavljacResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiRadnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="broj" type="xs:int" />
        <xs:element minOccurs="0" name="titula" type="xs:int" />
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prezime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tel2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobitel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zarada" type="xs:float" />
        <xs:element minOccurs="0" name="satnica" type="xs:float" />
        <xs:element minOccurs="0" name="odmor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="odmor_na" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="broj_plate" type="xs:float" />
        <xs:element minOccurs="0" name="bolovanje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="banka" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="blz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KtoNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vlasnik" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="biljeske" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datum" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiRadnikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaRadnika">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaRadnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaRadnikaResult" nillable="true" type="q4:ArrayOftbl_radnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiKupca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="kupac" nillable="true" type="q5:tbl_kupac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiKupcaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComboKorisnici">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComboKorisniciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ComboKorisniciResult" nillable="true" type="q6:ArrayOftbl_korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComboKorisniciPoruke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComboKorisniciPorukeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ComboKorisniciPorukeResult" nillable="true" type="q7:ArrayOftbl_korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaKupaca">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaKupacaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaKupacaResult" nillable="true" type="q8:ArrayOftbl_kupac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKupca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brKupca" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKupcaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKupac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="k" nillable="true" type="q9:tbl_kupac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKupacResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiUsera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Aktivan" type="xs:boolean" />
        <xs:element minOccurs="0" name="Slika" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" type="xs:int" />
        <xs:element minOccurs="0" name="Pocetna" type="xs:boolean" />
        <xs:element minOccurs="0" name="Licence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiUseraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUserView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUserViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaUserViewResult" nillable="true" type="q10:ArrayOfp_get_User_ViewResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUsersViewResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRadnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sifraRadnik" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRadnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRadnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="r" nillable="true" type="q11:tbl_radnik" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRadnikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="VratiKorisnikaResult" nillable="true" type="q12:tbl_korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditujUsera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Aktivan" type="xs:boolean" />
        <xs:element minOccurs="0" name="Slika" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" type="xs:int" />
        <xs:element minOccurs="0" name="Pocetna" type="xs:boolean" />
        <xs:element minOccurs="0" name="Licence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditujUseraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKorisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="k" nillable="true" type="q13:tbl_korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKorisnikResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PretraziRadnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PretraziRadnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="PretraziRadnikaResult" nillable="true" type="q14:ArrayOftbl_radnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PretraziDobavljaca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PretraziDobavljacaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="PretraziDobavljacaResult" nillable="true" type="q15:ArrayOftbl_dobavljac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeUserPocetnaOrAktivan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tip" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeUserPocetnaOrAktivanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeWorkerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRadnika" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeWorkerStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="unesiBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bugText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unesiBugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaBugova">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaBugovaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaBugovaResult" nillable="true" type="q16:ArrayOftbl_greske" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeBugStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeBugStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MitarbeiterNr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MitarbeiterNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MitarbeiterNrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LieferantNr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LieferantNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LieferantNrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KundenNr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KundenNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KundenNrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AngebotNr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AngebotNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AngebotNrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPrimljenihPoruka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPrimljenihPorukaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaPrimljenihPorukaResult" nillable="true" type="q17:ArrayOftbl_poruka_primljene" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPoslanihPoruka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPoslanihPorukaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaPoslanihPorukaResult" nillable="true" type="q18:ArrayOftbl_poruka_poslane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosaljiPoruku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primio" type="xs:int" />
        <xs:element minOccurs="0" name="poslao" type="xs:int" />
        <xs:element minOccurs="0" name="predmet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="naslov" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosaljiPorukuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaKupacaSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="broj" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaKupacaSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaKupacaSearchResult" nillable="true" type="q19:ArrayOftbl_kupac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterijal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterijalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="getMaterijalResult" nillable="true" type="q20:ArrayOftbl_materijal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProdukt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="getProduktResult" nillable="true" type="q21:ArrayOftbl_produkt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPovrsinaByMaterijal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPovrsinaByMaterijalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="getPovrsinaByMaterijalResult" nillable="true" type="q22:ArrayOftbl_povrsina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDebljinaByProduktId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDebljinaByProduktIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="getDebljinaByProduktIdResult" nillable="true" type="q23:ArrayOftbl_debljina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="getMatIdByNameResult" nillable="true" type="q24:ArrayOftbl_materijal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="getProIdByNameResult" nillable="true" type="q25:ArrayOftbl_produkt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDebljinaIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDebljinaIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="getDebljinaIdByNameResult" nillable="true" type="q26:ArrayOftbl_debljina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEventaMitarbeiter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEventaMitarbeiterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="ListaEventaMitarbeiterResult" nillable="true" type="q27:ArrayOftbl_mit_kalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiEventMitarbeiter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Mass.Data" minOccurs="0" name="mit_kalendar" nillable="true" type="q28:tbl_mit_kalendar" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnesiEventMitarbeiterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>